.carrito-page {
  max-width: 1200px;
  margin: 80px auto 50px;
  padding: 20px;
  font-family: sans-serif;
  color: #295f42;
}

.carrito-page h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.carrito-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.carrito-page ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #f0f4ef;
  transition: transform 0.2s;
}

.carrito-page ul li:hover {
  transform: scale(1.02);
}

.carrito-page ul li img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.carrito-page ul li span {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
}

.carrito-page ul li button {
  padding: 7px 15px;
  background-color: #558a65;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carrito-page ul li button:hover {
  background-color: #295f42;
  transform: scale(1.1);
}

.carrito-page h3 {
  text-align: right;
  font-size: 24px;
  margin-top: 20px;
}

.carrito-page > button {
  display: block;
  margin: 20px auto 0;
  padding: 12px 25px;
  background-color: #558a65;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carrito-page > button:hover {
  background-color: #295f42;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .carrito-page ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  .carrito-page ul li span {
    margin-left: 0;
    margin-top: 5px;
  }

  .carrito-page h3 {
    text-align: center;
  }
}

.acciones-carrito {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cantidad-control {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 10px;
}

.cantidad-control button {
  background-color: #558a65;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 16px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.cantidad-control button:hover {
  background-color: #295f42;
  transform: scale(1.1);
}

.cantidad-control span {
  font-weight: bold;
  color: #295f42;
  min-width: 20px;
  text-align: center;
}