/* loginRegistro.css */
.login-registro {
  max-width: 400px;
  margin: 60px auto;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.login-registro h1 {
  margin-bottom: 25px;
  color: #2f3640;
}

.login-registro input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-registro button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #60dd7b;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.login-registro button:hover {
  background-color: #3d8059;
}

.login-registro p {
  margin-top: 15px;
  font-size: 0.9rem;
}
.login-registro a {
  color: #6acf7d;
  text-decoration: none;
}
.login-registro a:hover {
  text-decoration: underline;
}

/* Borde rojo en input con error */
.login-registro input.error {
  border: 1px solid red;
}

/* Mensaje de error debajo del input */
.login-registro span.error {
  display: block;
  color: red;
  font-size: 0.85rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;}